.main-content-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: fit-content;
    height: 90vh;
}

.left-bar{
    background-color: rgb(198, 198, 198);
    height: 100%;
}

.unorder-list{
    list-style-type: none;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    height: 60vh;
    margin: 0;
    padding: 0;
    text-align: center;
}

.unorder-list li{
    padding: 10px 0px;
    color: black;
    /* border: 2px solid black; */
    cursor: pointer;
    font-weight: 600;
}

.right-bar{
    padding: 15px;
}

.right-bar .heading {
    font-size:30px;
    margin-bottom: 15px;
}

.data-row{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    margin: 5vh 0px;
}

.column{
    display: inline-block;
    text-align: center;
}

/* *{
    overflow: hidden;
} */

.heading{
    margin-left: 3vw;
}

.table-title{
    margin: 0;
    padding: 0;
}

.link{
    font-style: none;
    text-decoration: none;
    color: black;
}

.link:hover{
    text-decoration: underline;
}

nav {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	justify-content: space-around;
	align-items: center;
	background-color: black;
}

.symbol {
	background-color: rgb(29, 34, 39);
	border: solid 3px wheat;
	border-radius: 25%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 10%;
	width: 20%;
	height: auto;

}

.title {
	text-align: center;
	color: #f2f2f2;
	font-size: xxx-large;
}

.logoutbtn {
	background-color: white;
	outline: darkgrey;
	border-radius: 5px;
	height: 5vh;
	width: 10vw;
	margin: 2vh 6vw;
	font-weight: 900;
	font-size: medium;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	cursor: pointer;
}
