* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  

  nav {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	justify-content: space-around;
	align-items: center;
	background-color: black;
}

.symbol {
	background-color: rgb(29, 34, 39);
	border: solid 3px rgb(101, 98, 93);
	border-radius: 25%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 10%;
	width: 20%;
	height: auto;
}

.title {
    margin:2%;
	text-align: center;
	color: #f2f2f2;
	font-size: xxx-large;
}

.logoutbtn {
	background-color: rgb(98, 98, 98);
	outline: darkgrey;
	border-radius: 5px;
	height: 5vh;
	width: 10vw;
	margin: 2vh 6vw;
	font-weight: 900;
	font-size: medium;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	cursor: pointer;

}
  
  .logout button:hover {
    text-decoration: underline;
  }
  
  
  .container {
    width: 100vw;
    height: auto;
    margin: 10px auto;
    padding: 20px;
    background-color: #d8d6d6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
  }
  
  .container:hover {
    /* transform: scale(1.02); */
    background-color: #bababa;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bolder;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
    font-size: medium;
    margin-bottom: 2vh;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #4caf50;
  }
  
  .btn-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .btn-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .btn-container button.submit-btn {
    background-color: #4caf50;
    color: #fff;
    margin-right: 10px;
  }
  
  .btn-container button.submit-btn:hover {
    background-color: #45a049;
  }
  
  .btn-container button.goBack-btn {
    background-color: #ccc;
    color: #000;
  }
  
  .btn-container button.goBack-btn:hover {
    background-color: #999;
    color: #fff;
  }
  
  @media screen and (max-width: 600px) {
    nav ul {
      flex-direction: column;
    }
  
    .container {
      padding: 10px;
    }
  }
  